* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.promo {
  padding-top: 50px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.promo_wrapper {
  display: flex;
  min-height: 500px;
  background-color: rgb(139, 168, 223);
}

.h1_box {
  width: 305px;
  height: 35px;
  background-color: rgb(43, 66, 110);
  padding: 5px 15px;
}

h1 {
  color: white;
}

.promo_img {
  position: relative;
  width: 640px;
  height: 550px;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.resume {
  margin-left: 70px;
  margin-top: 40px;
}

.resume_subtitle {
  margin-left: 30px;
  font-weight: 700;
  color: white;
}

.resume_descr {
  margin-top: 20px;
  padding: 0 80px 0 0;
  font-size: 18px;
  color: white;
}

.resume_skill {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.skill_subtitle {
  font-weight: 700;
  color: rgb(43, 66, 110);
}

.skill_item {
  margin-right: 20px;
  width: 285px;
  margin-top: 20px;
}

.skill_descr {
  margin-top: 10px;
  font-size: 16px;
  color: white;
}





